adds features to a set of sales data

In [1]:
#importer libraries
from pathlib import Path
import pandas as pd
import numpy as np


'''
Defines a function, add_features_to_data(df) that adds the collected features
to the dataset, merged on muni_code and year.
Args: df
returns:
    df with added features
    num_cols - list of numerical columns in the dataframe
    cat_cols - list of categorical columns in the dataframe
''

C:\ProgramData\KB\Temp\ipykernel_20776\507668898.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  data = bolig\

['avg_sqm_price',
 'erhvervsindkomst',
 'formueindkomst',
 'anden_personlig_indkomst',
 'kont_recip_tot',
 'gini_index',
 'pop_dens']

In [30]:
fp = Path("../cbk/")
bolig = fp/"fittest.csv"
bolig = pd.read_csv(bolig)

def add_features_to_data(df):
    fp = Path("../cbk/")
    bolig = fp/"fittest.csv"
    indk = fp/"indkp101.csv"
    konth = fp/"kontanth.csv"
    areas = fp/"muni_areas.csv"
    pop = fp/"population_data.csv"
    pop_dens = fp/"pop_dens.csv"

    lars_fp = Path("../lars/")
    gini = lars_fp/"gini_index.csv"
        
    indk = pd.read_csv(indk)
    konth = pd.read_csv(konth)
    gini = pd.read_csv(gini)
    areas = pd.read_csv(areas)
    pop = pd.read_csv(pop)
    pop_dens = pd.read_csv(pop_dens)
    
    df = df\
        .merge(indk, on=["muni_code", "year"], how = 'left',suffixes=('_left', '_right'))\
        .merge(konth, on= ["muni_code", "year"], how= 'left',suffixes=('_left', '_right'))\
        .merge(gini, on = ["muni_code", "year"], how = 'left',suffixes=('_left', '_right'))\
        .merge(pop_dens, on = ["muni_code", "year"], how = 'left',suffixes=('_left', '_right'))\
        .sort_values(["year", "count"])\
        .dropna()\
        .assign(muni_code=lambda x: x['muni_code'].astype('category'))\
        .assign(year=lambda x: x['year'].astype('category'))\
        .assign(housing_type = lambda x: x["housing_type"].astype('category'))

    df['avg_sqm_price'] = pd.to_numeric(data['avg_sqm_price'], errors='coerce')

    #drops very useless columns
    cols_to_drop = [col for col in df.columns if col.startswith('Unnamed')]
    df.drop(columns=cols_to_drop, inplace=True)
    df.drop(columns="count", inplace =True)
    num_cols  = df.select_dtypes(include=["number"]).columns.tolist()
    cat_cols  = df.select_dtypes(include=["category"]).columns.tolist()
    return (data, num_cols, cat_cols)

['avg_sqm_price', 'erhvervsindkomst', 'formueindkomst', 'anden_personlig_indkomst', 'kont_recip_tot', 'gini_index', 'pop_dens']
['muni_code', 'housing_type', 'year']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 35 to 31
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   muni_code                 90 non-null     category
 1   housing_type              90 non-null     object
 2   year                      90 non-null     category
 3   avg_sqm_price             90 non-null     float64
 4   erhvervsindkomst          90 non-null     float64
 5   formueindkomst            90 non-null     float64
 6   anden_personlig_indkomst  90 non-null     float64
 7   kont_recip_tot            90 non-null     float64
 8   gini_index                90 non-null     float64
 9   pop_dens                  90 non-null     float64
dtypes: category(2), float64(7), object(1)
memory usage: 7.9+ KB

C:\ProgramData\KB\Temp\ipykernel_20776\1057491239.py:24: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_left'} in the result is deprecated and will raise a MergeError in a future version.
  df = df\

    Unnamed: 0  muni_code   housing_type  year  avg_sqm_price  count
0            0        161  Ejerlejlighed  1992   10980.418803    117
1            1        161  Ejerlejlighed  1993   71789.604938    162
2            2        161  Ejerlejlighed  1994    6174.088235     68
3            3        161  Ejerlejlighed  1995   42871.463855    166
4            4        161  Ejerlejlighed  1996    9103.950000    100
..         ...        ...            ...   ...            ...    ...
88          88        161          Villa  2018   22993.475524    143
89          89        161          Villa  2019   23719.652174    138
90          90        161          Villa  2020   26677.388158    152
91          91        161          Villa  2021   29876.473684    133
92          92        161          Villa  2022   30623.576087     92

[93 rows x 6 columns]