Henter oplysninger på sammenlagte kommuner fra wikipedia

In [7]:
import pandas as pd

# henter tabeller på wikipedia
df = pd.read_html('https://da.wikipedia.org/wiki/Strukturreformen')

                                          Lovgivende
0  Folketing (parlament) Formand: Søren Gade Medl...

In [19]:
# trækker de fem relevante data

reg_syd = df[16]
reg_sjæl = df[15]
reg_nordj = df[14]
reg_midtj = df[13]
reg_h = df[12]

  Kommunerne fordelt efter indbyggertal                                  \
                           Indbyggertal  Antal kommuner
                           Indbyggertal før1. april1970 fra1. april1974
0                             150.000 -           1.000               4
1                     100.000 - 150.000           3.000               1
2                      40.000 - 100.000          10.000              18
3                       20.000 - 40.000          22.000              25
4                       15.000 - 20.000          13.000              24
5                       10.000 - 15.000          22.000              41
6                        3.000 - 10.000         206.000             160
7                             0 - 3.000         821.000               2
8                                 I alt           1.098             275



  fra1. januar2007
0                4
1                2
2               50
3               35
4                0
5                3
6                3
7                1
8               98