Trækker erhvervsindkomst, formueindkomst(brutto) og Anden personlig indkomst, hhv 
nr 3, 26, 29 i DS tabellen indkp101. Fordelt på område, gennemsnit for alle personer (begge køn) og for alle tilgængelige år.


https://api.statbank.dk/v1/data/INDKP101/CSV?valuePresentation=CodeAndValue&OMR%C3%85DE=*&ENHED=116&KOEN=*&INDKOMSTTYPE=110%2C225%2C240&Tid=*

In [31]:
import pandas as pd
url = "https://api.statbank.dk/v1/data/INDKP101/CSV?valuePresentation=CodeAndValue&OMR%C3%85DE=*&ENHED=116&KOEN=MOK&INDKOMSTTYPE=110%2C225%2C240&Tid=*"
indkp101 = pd.read_csv(url, sep = ";")

indkp101 = indkp101.pivot(index=["OMRÅDE", "TID"], columns = "INDKOMSTTYPE", values = "INDHOLD")
indkp101.columns.name = None
indkp101 = indkp101\
    .reset_index()

In [32]:
def clean_ds_data(df):
    df['muni_code'] = df['OMRÅDE'].str.extract(r'(\d{3})')   # extracting municipality code
    df['muni_name'] = df['OMRÅDE'].str.extract(r'(\d{3}\s+(.*))')[1] # extracting municipalit name
    df['year'] = df['TID'].str.split().str[0]
    df = df\
        .drop(columns=["OMRÅDE", 'TID'])
    return df
indkp101 = clean_ds_data(indkp101)
indkp101 = indkp101\
    .drop(columns = ["muni_name"])\
    .rename(columns =  {"110 3 Erhvervsindkomst (4+5+6)" : "erhvervsindkomst",
                       "225 26 Formueindkomst, brutto (27+28)": "formueindkomst",
                       "240 29 Anden personlig indkomst":"anden_personlig_indkomst"})
indkp101['muni_code'] = indkp101['muni_code'].astype("Int64")

indkp101.to_csv("indkp101.csv")

,erhvervsindkomst,formueindkomst,anden_personlig_indkomst,muni_code,year
2275,81592,4225,3277,480,1987
2276,85822,4325,3804,480,1988
2277,89365,4441,4215,480,1989
2278,92059,4641,4240,480,1990
2279,95058,4681,2742,480,1991
2280,97930,4527,2339,480,1992
2281,97993,4561,2142,480,1993
2282,105658,3960,1061,480,1994
2283,110970,4159,1331,480,1995
2284,115763,4124,702,480,1996
2285,122258,5081,1080,480,1997
2286,127305,6700,1502,480,1998
2287,130703,4909,1169,480,1999
2288,138469,6383,1007,480,2000
2289,143940,6046,1161,480,2001
2290,145314,6700,1739,480,2002
2291,146233,4842,2024,480,2003
2292,152381,5115,1874,480,2004
2293,157846,6183,1654,480,2005
2294,167491,9370,1766,480,2006
2295,173222,9473,1786,480,2007
2296,175654,7824,1917,480,2008
2297,168947,5036,1721,480,2009
2298,171616,6276,1791,480,2010
2299,175421,6030,1888,480,2011
2300,176502,6403,1473,480,2012
2301,180055,6299,1358,480,2013
2302,181170,7113,1434,480,2014
2303,184147,8129,1871,480,2015
2304,186619,7579,1763,480,2016
2305,193897,7283,1746,480,2017
2306,199808,7890,1782,480,2018
2307,204785,9231,1837,480,2019
2308,211889,9436,2635,480,2020
2309,221384,9650,2148,480,2021